<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>test1.FirstServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/web</url-pattern>

    </servlet-mapping>

</web-app>
